/* overall background & its size */
html {
    background: url('metal.JPG') fixed;
    width: 350;
}

  /* the body has the ability to edit the color of the white and grey gradient (main background) and it centers all the text on body,
  and it gives a small box shadow with the red double lined border & text font overall. */
body {
    background: rgba(173, 169, 150, 0.5);  
    background: -webkit-linear-gradient(to bottom, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 20));  
    background: linear-gradient(to bottom, rgba(234, 234, 234, 20), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5)); 
    display: block;
    min-width: 640px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.61) 10px 10px 25px;
    border: 4px double rgb(78, 8, 8);;
    border-radius: 10px;
    font-family: 'Play', sans-serif;
    font-family: 'XXII Ultimate-Black-Metal Fallen-Angel', arial;
    text-align: center;
}

/* familylinks is all the links inside the black box not the add to cart buttons */
nav#familyLinks {
    display: block;
    min-width: 640px;
    max-width: 940px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 90px;
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    margin-left: 150px;
    margin-right: 200px;
}

/* merch is the "merchandise" word at the top of the page and its border */
nav#Merch {
    border: 4px double rgb(0, 0, 0);
    border-radius: 30px;
    color: black;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 40px;
}

  /* ==============================
 Mobile Styles 0px to 480px
  ===============================
 */ 
@media only screen and (max-width: 480px) {

}
/* =============================
Tablet Styles 481px and greater
===============================
*/ 
@media only screen and (min-width: 481px) {

}
/* =============================
Desktop Styles 769px and greater
===============================
*/ 
@media only screen and (min-width: 769px) {
 
}

/* makes it so therefore the lists dont have dots on the left */
ul {
  list-style: none;
}

/* changes the allignment of the links at the bottom, keeps no box shadow and no border */
nav#bottom {
  text-align: center;
  border: none;
  box-shadow: none;
  margin-right: 50px;
  margin-top: -60px;
}

/* changes the size of the links at the bottom */
nav#bottom ul li {
  font-size: 1.9em;
}

/* changes the color of the links and gets rid of the underline */
nav#bottom ul a {
  color: rgb(140, 22, 22);;
  text-decoration: none;
}

/* footer p changes the aspects of the footer on the index page like the color & font */
footer p {
  color: black;
  font-size: 2em;
  font-family: 'XXII Ultimate-Black-Metal Fallen-Angel', arial;
  text-align: center;
  margin: 0px;
  padding: 10px 0px;
}

/* familylinks ul is literally the entire black box containing revenge and the links, this has control over that, its box shadow,
and the font, and the position. */
#familyLinks ul {
  background: radial-gradient(grey, rgb(32, 32, 32), black);
  border: 4px double rgb(78, 8, 8);
  border-radius: 30px;
  box-shadow: rgb(78, 8, 8) 0px 0px 20px 10px;
  color: white;
  margin-left: -50px;
  margin-right: -50px;
}

/* edits the color of the revenge clothing link names */
nav#familyLinks a {
	color: rgb(180, 180, 180);
  text-decoration: none;
  margin-right: 30px;
}

/* All the nav bottoms make it so when you hover over the red links they turn black  */
nav#bottom ul a:link,
nav#bottom ul a:visited {
    text-decoration-line: none;
}

nav#bottom ul a:hover,
nav#bottom ul a:active {
    color: rgb(0, 0, 0);
}

/* edits the color of the "VengeanceProductions at the top */
h1 {
  color: rgb(140, 22, 22);
}
