html {
    background: url('metal.JPG') fixed;
    height: 200px;
    width: 350;
}

.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
  }

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

body {
    background: rgba(173, 169, 150, 0.5);  
    background: -webkit-linear-gradient(to bottom, rgba(234, 234, 234, 0.5), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 20));  
    background: linear-gradient(to bottom, rgba(234, 234, 234, 20), rgba(219, 219, 219, 0.5), rgba(242, 242, 242, 0.5), rgba(173, 169, 150, 0.5)); 
    /* background: url(anarchy_200x200.png); */

    display: block;
    min-width: 640px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.61) 10px 10px 25px;
    border: 4px double rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

footer {  
        text-align: center;
        padding: 10px;  
}

nav {
    display: block;
    min-width: 640px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(0, 0, 0, 0.61) 10px 10px 25px;
    border: 4px double rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 1000px;
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}

  




  /* ==============================
 Mobile Styles 0px to 480px
  ===============================
 */ 
@media only screen and (max-width: 480px) {

}
/* =============================
Tablet Styles 481px and greater
===============================
*/ 
@media only screen and (min-width: 481px) {

}
/* =============================
Desktop Styles 769px and greater
===============================
*/ 
@media only screen and (min-width: 769px) {
 
}